<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Literate an Education Category Bootstrap Responsive Website Template | Home :: W3Layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/assets/css/style-starter.css">

   
	<!-- //Online-fonts -->

  </head>
  <body>
<!--header-->
<section class="w3l-header">
  <header id="site-header" >
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <a class="navbar-brand" href="{% url 'index' %}">
          
          <span class="fa fa-pencil-square-o">{{user.username}}</span>
        </a>
        <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            {% if user.register.user_type == 'teacher' %}
            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'dashboard1' %}">Dashboard</a>
            </li>
            {% endif %}
            {% if user.register.user_type == 'student' %}
            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'dashboard2' %}">Dashboard</a>
            </li>
            {% endif %}

            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'chat' %}">Chat</a>
            </li> 

            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
            </li>            


            {% else %}
            

            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>

            <li class="nav-item @@about-active">
              <a class="nav-link" href="{% url 'user_login' %}">Login</a>
            </li>
            {% endif %}

            

            

            

            <li class="nav-item @@contact-active">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <label class="theme-selector">
            <input type="checkbox" id="themeToggle">
            <i class="gg-sun"></i>
            <i class="gg-moon"></i>
          </label>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->
  
</section>
{% block content %}
<div style="padding-top: 2rem;padding-bottom: 2rem;background-color:#c1bab2;">



{% for data in dataset %}
<div class="card" style="width: 18rem; margin-top: 1em;margin-left: 2rem;background-color: #d9c2a5;">
    <div class="card-body">
      <h5 class="card-title">{{data.blog_title}}</h5>
      <h6 class="card-subtitle mb-2 ">Created By : {{data.user.username}}</h6>
      <p class="card-text " style="font-size:25px">Content:{{data.blog}}</p>
      
    </div>
  </div>
{% endfor %}

</div>

{% endblock %}

<!-- / getstarted -->

<footer>
  <!-- footer -->
  <section class="w3l-footer">
    <div class="w3l-footer-16-main py-5">
      <div class="container">
        
        <div class="below-section pt-4 mt-5 text-center">
          <div class="columns-2">
            <ul class="social">
              <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              </li>
              <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
              </li>
              <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </li>
              <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
              </li>
              <li><a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
              </li>
            </ul>
          </div>
          <div class="columns mt-3">
            <p>&copy; 2020 Literate. All rights reserved | Design by <a href="https://w3layouts.com/">W3Layouts</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- //move top -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
  </section>
  <!-- //footer -->
</footer>

<!-- jQuery JS -->
<!-- <script src="assets/js/jquery-3.4.1.slim.min.js"></script> -->
<!-- jQuery JS -->
<script src="/static/assets/js/jquery-1.9.1.min.js"></script>

<!-- Template JavaScript -->

<!-- owl carousel -->
<script src="/static/assets/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
  $(document).ready(function () {
    $('.owl-testimonials').owlCarousel({
      loop: false,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: false
        },
        1000: {
          items: 1,
          nav: false
        }
      }
    })
  })
</script>
<!-- //testimonials owlcarousel -->

<!-- logos for customers -->
<script>
  $(document).ready(function () {
    $('.owl-logos').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 2,
          nav: false
        },
        480: {
          items: 2,
          nav: false
        },
        667: {
          items: 3,
          nav: false
        },
        1000: {
          items: 4,
          nav: false
        }
      }
    })
  })
</script>
<!-- //logos owlcarousel -->

<!-- courses for customers -->
<script>
  $(document).ready(function () {
    $('.owl-courses').owlCarousel({
      loop: true,
      margin: 30,
      nav: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })
</script>
<!-- //courses owlcarousel -->

<!-- magnific popup -->
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>

<!-- responsive tabs -->
<script src="/static/assets/js/easyResponsiveTabs.js"></script>

<!--Plug-in Initialisation-->
<script type="text/javascript">
  $(document).ready(function () {
    //Horizontal Tab
    $('#parentHorizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion
      width: 'auto', //auto or any width like 600px
      fit: true, // 100% fit in a container
      tabidentify: 'hor_1', // The tab groups identifier
      activate: function (event) { // Callback function if tab is switched
        var $tab = $(this);
        var $info = $('#nested-tabInfo');
        var $name = $('span', $info);
        $name.text($tab.text());
        $info.show();
      }
    });
  });
</script>

<!-- stats number counter-->
<script src="/static/assets/js/jquery.waypoints.min.js"></script>
<script src="/static/assets/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->


<!--theme switcher dark and light mode script-->
<script>
  const bodyElement = document.querySelector('body');
  const themeToggle = document.querySelector('#themeToggle');
  const darkModeMql = window.matchMedia('(prefers-color-scheme: dark)');

  const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);

  if (currentTheme) {
    bodyElement.classList.add(currentTheme);

    if (currentTheme === 'dark') {
      themeToggle.checked = true;
    }
  }

  function userPreference(e) {
    if (e.matches) {
      bodyElement.classList.add("dark");
      return "dark"
    } else {
      bodyElement.classList.remove("dark");
      return ""
    }
  }

  darkModeMql.addListener(userPreference);

  function themeSwitcher(e) {
    if (e.target.checked) {
      bodyElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    } else {
      bodyElement.classList.remove('dark');
      localStorage.setItem('theme', '');
    }
  }

  themeToggle.addEventListener('change', themeSwitcher);
</script>
<!--//theme switcher dark and light mode script-->


<!-- Bootstrap JS -->
<script src="/static/assets/js/bootstrap.min.js"></script>

</body>

</html>


<!--
    

<form method="post">
    {%csrf_token %}
    <H2> Search Blog Here</H2>
    {{form.as_p}}
    <input type ="submit" value="Search">
</form>
 
{% for data in dataset %}

<h3>{{data.blog_title}}</h3><h4>Created By :{{data.user.register.name}}</h4>
<h4>content:{{data.blog}}</h4>
<a href = "{% url 'blog' _id=data.id %}">Read More</a>
<hr/>
{% endfor %}

-->

<!--
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
-->

<!--
    <form method="post">
    {%csrf_token %}
    <H2> Search Blog Here</H2>
    {{form.as_p}}
    <input type ="submit" value="Search">
</form>
 
{% for data in dataset %}

<h3>{{data.blog_title}}</h3><h4>Created By :{{data.user.username}}</h4>
<h4>content:{{data.blog}}</h4>
<a href = "{% url 'blog' _id=data.id %}">Read More</a>
<hr/>
{% endfor %}
-->