{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div style="margin-top: 2em;background-color: #ede9e3;padding-top: 2rem;padding-bottom: 2rem;padding-left: 2rem;">

    {% for i in placement %}

    <div class="card">
        <div class="card-header" style="font-size: 1.4em;color: black;font-weight: bold;">
         Company Name: {{i.company_name}}
        </div>
        <div class="card-body" style="background-color: burlywood;">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text" style="font-size: 1.2em;color: black;font-weight: bold;">Vaccancy: {{i.vaccancy}}</p>
          <p class="card-text" style="font-size: 1.2em;color: black;font-weight: bold;">Area: {{i.area}}</p>
          <p class="card-text" style="font-size: 1.2em;color: black;font-weight: bold;">Interview Date: {{i.available_date}}</p>
          <p class="card-text" style="font-size: 1.2em;color: black;font-weight: bold;">Interview Time: {{i.time}}</p>
          {% if user.is_superuser %}
          <a href="{% url 'update_placement' i.id %}" class="btn btn-primary" style="margin-top: 1em;">UPDATE</a>
          <a href="{% url 'delete_placement' i.id %}" class="btn btn-primary"  style="margin-top: 1em;">DELETE</a>
          {% endif %}

          <p class="card-text" style="font-size: 0.8em;color: black;">Posted: {{i.date}}</p>
        </div>
      </div>
      {% endfor %}

</div>






{% endblock %}