{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<title>Course Registration Form Flat Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Course Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="/static/css1/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<!-- //js -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- //web-fonts --> 
</head>
<body>
	<!-- banner --> 
<div class="video"> 
	<div class="center-container">
	    <div class="w3ls-agileinfo">
			<h1> Registration Form</h1>	
		</div>
		 <div class="bg-agile">
			<h2>Registration Form</h2>
			<div class="login-form">	
				<form action="#" method="POST" enctype="multipart/form-data" style="color: white;font-size: 1.2em;">
                    {% csrf_token %}
                    {{user_form|crispy}}{{profile_form|crispy}}
					
					<input type="submit" value="Submit">
				</form>	
			</div>	
		</div>
	<!-- //banner --> 
	 <!--copyright-->
		
	<!--//copyright-->
	</div>	
</div>	
</body>
</html>