{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div style="margin-top: 2em;background-color: #ede9e3;padding-top: 2rem;padding-bottom: 2rem;padding-left: 2rem;">
<form action="" method="POST" style="color: brown;margin-left: 6em;margin-right: 6em;">
    {% csrf_token %}
    {{review_form|crispy}}
    <input type="submit" value="POST">
</form>
</div>


<div style="background-color: cadetblue;">

    {% for i in reviews %}
    <div class="card" style="background-color: #b3c8ef;margin-bottom: 1em;">
        <div class="card-body" >
          <p style="font-size: 1.5em;color: black;">User: {{i.user.username}}</p>
          <p style="font-size: 1.5em;color: black;font-style: italic;">Rating: {{i.rating}}/5<i class="fa fa-star" aria-hidden="true" style="color: yellow;"></i></p>
          <p style="font-size: 1.5em;color: black;font-style: italic;">Review: {{i.review}}</p>
          <p>Date: {{i.date}}</p>
        </div>
      </div>
      {% endfor %}




</div>






{% endblock %}