<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>{{course.course_name}}</h1>

<table border="2">
    <tr>
        <th>Subject</th>
    </tr>

{% for i in subject %}
<tr>
    <td>{{i.name}}</td>
</tr>
{% endfor %}
</table>

{% for list in subject %}

<div class="card" style="width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">{{list.name}}</h5>
      <p></p>
      <a href="{% url 'add_lesson' %}" class="btn btn-primary">Add Lessons</a>
    </div>
    
  </div>
  {% endfor %}

  


    
</body>
</html>