{% extends 'dashboard1.html' %}

<link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
      
    <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
    </script> 
      
    <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
    </script> 
      
    <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
    </script> 
      
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
            padding-top:5px;
        }
        h1 {
            color: green;
        }
    </style>

{% block content %}
<div style="background-color: #5d5d91;">
  <div style="padding-top: 2em;padding-left: 2em;">

<div class="container" style="width: 100%;">
  <div class="card-group" style="width: 100%;">

      
      <!--bootstrap card with 3 horizontal images-->
      <div class="row" style="width: 100%;margin-bottom: 2em;" >
          {% for i in lesson %}
          <div class="card col-md-4 col-lg-4 " style=" background-color: cornsilk; margin-top: 2em; ">
              

              <div class="card-body">
                  <center>
                  <h3 class="card-title">{{i.lesson_name}}</h3>

                  {% if i.notes %}
      <h6 class="card-subtitle mb-1 text-muted">Get Notes</h6>
      <a href="{{i.notes.url}}" download>Download</a>
      {% else %}
      <p>No notes available</p>
      {% endif %}
      {% if i.video %}
      <p class="card-text">Get Video</p>
      <a href="{{i.video.url}}" download>Download</a>
      {% else %}
      <p>No Video available</p>
      {% endif %}
      {% if i.ppt %}
      <p class="card-text">Get PPT</p>
      <a href="{{i.ppt.url}}" class="card-link" download>Download</a>
      {% else %}
      <p>No PPT available</p>
      {% endif %}
      <br>
    
    {% if user.register.user_type == 'teacher' %}
    
<a href="{% url 'lesson_update' i.id %}"><button style="background-color: rgb(46 133 68);color: white;">Update Lesson</button></a>


<a href="{% url 'lesson_delete' i.id %}"><button style="background-color: rgb(46 133 68);color: white;">Delete Lesson</button></a>
{% endif %}
</center>
              </div>
          </div>
          {% endfor %}
          
      </div>
  </div>
</div>


</div>
</div>
{% endblock %}

<!--

  {% for i in lesson %}

{% endfor %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{i.lesson_name}}</h5>
      
      {% if i.notes %}
      <h6 class="card-subtitle mb-1 text-muted">Get Notes</h6>
      <a href="{{i.notes.url}}" download>Download</a>
      {% else %}
      <p>No notes available</p>
      {% endif %}
      {% if i.video %}
      <p class="card-text">Get Video</p>
      <a href="{{i.video.url}}" download>Download</a>
      {% else %}
      <p>No Video available</p>
      {% endif %}
      {% if i.ppt %}
      <p class="card-text">Get PPT</p>
      <a href="{{i.ppt.url}}" class="card-link" download>Download</a>
      {% else %}
      <p>No PPT available</p>
      {% endif %}
      
    </div>
  </div>
-->