{% extends 'dashboard2.html' %}

<link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
      
    <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
    </script> 
      
    <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
    </script> 
      
    <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
    </script> 
      
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
            padding-top:10px;
        }
        h1 {
            color: green;
        }
    </style>

{% block content %}
<div style="background:url(/static/images/bg.jpg);background-repeat: no-repeat;height: 27em;background-size: 100em 20em;">
    <div style="padding-top: 3em;padding-left: 2em;padding-bottom: 2em;">
{% if course %}
           <center> <h3 style="color: white;">Select Your Course</h3></center>
            {% endif %}
            

            <center>
                {% if subject %}
                <h3 style="color: white;">Select Subject</h3>
                {% endif %}
                </center><br>

<div class="container" style="width: 100%;">
    <div class="card-group" style="width: 100%;">

        
        <!--bootstrap card with 3 horizontal images-->
        <div class="row" style="width: 100%;" >
            
            {% for i in course %}
            <div class="card col-md-4 col-lg-4 " style=" background-color: cornsilk; margin-top: 2em; width: 200px;">
                

                <div class="card-body" style="margin-right: 1em;">
                    <h3 class="card-title">{{i.course_name}}</h3>
                    <a href="{% url 'subject_list' i.id %}"><button style="background-color: chartreuse;">View Subjects</button></a>
                </div>
            </div>
            {% endfor %}
            
            {% for i in subject %}
            <div class="card col-md-4 col-lg-4 " style=" background-color: cornsilk; margin-top: 2em; width: 200px;">
                

                <div class="card-body " >
                    <h3 class="card-title">{{i.name}}</h3>
                    
                    
                    <a href="{% url 'lesson_view' i.id  %}"><button style="background-color: chartreuse;">View Lessons</button></a>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
</div>
</div>



{% endblock %}


<!--
    <h1>Hello</h1>
{% for i in course %}
<h1>{{i.course_name}}</h1>
<h1>{{i.id}}</h1>
<a href="{% url 'subject_list' i.id %}">Go</a>
{% endfor %}

{% for sub in subject %}
<h1>{{sub.name}}</h1>
<h1>{{sub.id}}</h1>
{% endfor %}
-->